// colors
$clr-accent-500: #8482FF;
$clr-primary-500: #252431;
$clr-primary-400: #727272;
$clr-primary-300: #BCCCDB;
$clr-primary-200: #F2F5F8;
$clr-primary-100: #FFFFFF;
$clr-opaque: rgba(255, 255, 255, 0.5);

// font sizes
$fs-100: 0.875rem;
$fs-200: 1rem;
$fs-300: 1.5rem;
$fs-400: 2.25rem;

// transitions
$ts-200: all 200ms ease-in-out;
$ts-300: all 300ms ease-in-out;